apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openuem.fullname" . }}-config
  labels:
    {{- include "openuem.labels" . | nindent 4 }}
data:
  ORGNAME: {{ .Values.organization.name | quote }}
  ORGPROVINCE: {{ .Values.organization.province | quote }}
  ORGLOCALITY: {{ .Values.organization.locality | quote }}
  ORGADDRESS: {{ .Values.organization.address | quote }}
  COUNTRY: {{ .Values.organization.country | quote }}
  DOMAIN: {{ .Values.organization.domain | quote }}
  OCSP: {{ include "openuem.ocspUrl" . | quote }}
  OCSP_PORT: {{ .Values.ocspResponder.port | quote }}
  NATS_SERVERS: {{ include "openuem.natsServers" . | quote }}
  CONSOLE_PORT: {{ .Values.console.port | quote }}
  AUTH_PORT: {{ .Values.console.authPort | quote }}
  SERVER_NAME: {{ include "openuem.consoleHostname" . | quote }}
  {{- if .Values.console.reverseProxyServer }}
  REVERSE_PROXY_SERVER: {{ .Values.console.reverseProxyServer | quote }}
  {{- end }}
  {{- if .Values.console.reverseProxyAuthPort }}
  REVERSE_PROXY_AUTH_PORT: {{ .Values.console.reverseProxyAuthPort | quote }}
  {{- end }}
  {{- if .Values.console.reEnableCertificatesAuth }}
  RE_ENABLE_CERTIFICATES_AUTH: {{ .Values.console.reEnableCertificatesAuth | quote }}
  {{- end }}
  {{- if .Values.console.reEnablePasswdAuth }}
  RE_ENABLE_PASSWD_AUTH: {{ .Values.console.reEnablePasswdAuth | quote }}
  {{- end }}
  {{- if .Values.console.resetOpenuemUser }}
  RESET_OPENUEM_USER: {{ .Values.console.resetOpenuemUser | quote }}
  {{- end }}
